/*  ============================
    GOLDEN DITONIC MODULAR SCALE
    ============================ */
:root {
    --step-up-four: 6.854em;
    --step-up-three-half: 5.388em;
    --step-up-three: 4.236em;
    --step-up-two-half: 3.330em;
    --step-up-two: 2.620em;
    --step-up-one-half: 2.058em;
    --step-up-one: 1.618em;
    --step-up-half: 1.272em;
    /* Origin Baseline: 1em */
    --step-down-half: 0.786em;
    --step-down-one: 0.618em;
    --step-down-one-half: 0.486em;
    --step-down-two: 0.382em;
    --step-down-two-half: 0.300em;
}

* { /* Make all elements border-box sizing */
    box-sizing: border-box;
}

@font-face { /* Nav bar font */
    font-family: Mont-Extra-Bold;
    src: url("../assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face { /* Body header font */
    font-family: Hind-Bold;
    src: url("../assets/fonts/Hind/Hind-Bold.ttf");
}

/*  ==============
    GENERAL DESIGN
    ============== */

.active {
    color: #e7e6f7;
}

/* HEADER NAV SECTION */

#top_nav_logo\+name img {
    width: auto;
    max-height: 150px;
}

header:visited {
    color: white;
}

/* FOOTER NAV SECTION */

footer {
    bottom: 0;
    text-align: center;
    position: fixed;
    background-color: #5995ED;
    width: 100%;
}
footer a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* HEADER / FOOTER CHANGES */
.nav_container #site_name {
    font-family: Mont-Extra-Bold, serif;
    font-size: var(--step-up-half);
}

.nav_container {
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #5995ED;

    font-family: Mont-Extra-Bold, serif;
    font-size: var(--step-up-two-half);
}

.nav_container a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.nav_container a:hover {
    background-color: #e08d79;
    color: black;
}

.nav_container #site_name:hover {
    background-color: #5995ED;
    color: white;
}

.nav_content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_content ul li {
    float: left;
}

.nav_content ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
    ===== HOME / INDEX PAGE STYLING =====
 */

#index_main div h1 {
    text-align: center;
    font-family: Hind-Bold, serif;
    font-size: var(--step-up-two-half);
}

#home_banner_image img {
    display: inline-block;
    margin: auto;
    width: 100%;
    border-radius: 5%;
}

#home_isud_spotlight { /* Div containing rows */
    column-count: 2;
    margin-top: 20px;
    text-align: center;
}

.spotlight_event {
    font-family: Hind-Bold, serif;
    font-size: var(--step-up-two);
    text-align: center;
    margin: auto;
}

#spotlight_1 {
    width: 49%;

}

#spotlight_1 img {
    max-width: 250px;
    max-height: 250px;
}

#spotlight_2 {
    width: 49%;
}

#spotlight_2 img {
    max-width: 250px;
    max-height: 250px;
}


/*
    ===== ABOUT US STYLING =====
 */

/* TWO CONTAINERS IN ABOUT PAGE */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* MAKE NAV BAR HORIZONTAL */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

/*  =============
    MEDIA QUERIES
    ============= */

@media screen and (min-width: 360px) {

}

@media screen and (min-width: 428px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}